<!doctype html>
<html lang="en">
  <head>
    <?php include __DIR__ . '/partials/head.html'; ?>
    
  </head>
  <body>
    <form method="POST" action="/login">
      <h1>LOGIN</h1>

      <?php if(isset($messages)): ?>

      <p class="messages">
        <?= $messages ?>
      </p>

      <?php endif; ?>
      <input name="email" type="email" placeholder="Twój email" />
      <input name="password" type="password" placeholder="Twoje hasło" />
      <button type="submit">LOGIN</button>

      <a href="/register">zarejestruj się!</a>
    </form>
  </body>
</html>